@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    display: grid; 
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
}


div.caixa1 {
    background-color: red;
    grid-area:  1 / 1 / 2 / 5;
}

div.caixa2 {
    background-color: green;
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
}  

div.caixa3 {
    background-color: blue;
    grid-row: 2 / span 3;
    grid-column: 3 / span 2;
}